<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="respuesta1" method="post">
        <label for="nombre">Primer Numero</label>
        <input type="number" name="num1" id="num1">
        <label for="nombre">Segundo Numero</label>
        <input type="number" name="num2" id="num2">
        <label for="nombre">Tercer Numero</label>
        <input type="number" name="num3" id="num3">
        <input type="submit" value="Revisar">
    </form>
    <h1>Organizado: {{respuesta1}}</h1>

    <br>
    <br>
    <button><a href="http://127.0.0.1:5000/">Inicio</a></button> 
</body>
</html>