<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doble y Triple de un Número</title>
</head>
<body>
    <h1>Cálculo del Doble y Triple</h1>
    <form action="/formulario4" method="POST">
        <label for="numero">Ingrese un número:</label>
        <input type="number" name="numero" required>
        <button type="submit">Calcular</button>
    </form>
    {% if resultado %}
        {% if resultado is string %}
            <div class="error">{{ resultado }}</div>
        {% else %}
            <div class="resultado">El doble de {{ numero }} es {{ resultado.doble }}<br>
            El triple de {{ numero }} es {{ resultado.triple }}</div>
        {% endif %}
    {% endif %}

    <br>
    <br>
    <button><a href="http://127.0.0.1:5000/">Inicio</a></button> 
</body>
</html>