<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> <center>
    <h1>Elija su Formulario</h1>
   <button><a href="http://127.0.0.1:5000/formulario">Formulario de ejemplo</a></button> 
   <button><a href="http://127.0.0.1:5000/formulario1">Formulario numero 1</a></button> 
   <button><a href="http://127.0.0.1:5000/formulario2">Formulario numero 2</a></button> 
   <button><a href="http://127.0.0.1:5000/formulario3">Formulario numero 3</a></button> 
   <button><a href="http://127.0.0.1:5000/formulario4">Formulario numero 4</a></button> 
   <button><a href="http://127.0.0.1:5000/formulario5">Formulario numero 5</a></button> 
</body>
</html>